<!-- Footer -->
<footer id="main-footer" class="py-4 bg-primary text-white text-center">

<style>

.footer-widget a:link {
  color: white;
}
.probootstrap-footer-widget a:link{
 color:white;
}
.year a:link{
 color:white;
}
</style>

   <div class="container">
      <div class="row mb60">
        <div class="col-md-4">
          <div class="probootstrap-footer-widget">
            <h4 class="heading">About Rokay venture LTD</h4>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            <p><a href="{% url 'about' %}">Read more...</a></p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h4 class="heading">Quick Links</h4>
            <ul class="stack-link">
              <li><a href="{% url 'listings' %}">Property Listing</a></li>
              <li><a href="{% url 'listings' %}">Rent Properties</a></li>
              <li><a href="{% url 'about' %}">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-widget">
            <h4 class="heading">Subscribe</h4>
            <p>Get updates about latest properties via email.</p>
            <form action="#">
              <div class="form-field">
                <input type="text" class="form-control" placeholder="Enter your email">
                <button class="btn btn-subscribe">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>


    Copyright &copy;
    <span class="year"></span> ROKAY VENTURE LTD. 
    <br>
    <span class="year">Designed By <b class="white-text"><a href="www.finotech.co.ke"> Finotech Softwares</a></b></p></span>
    
  </footer>
